@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

:root {
  --primary-color: #454a4d;
  --secondary-color: #1c97fc;
  --accent1-color: #3f48cc;
  --accent2-color: #7f2be6;

  --neutral-background: #131516;
  --neutral-text: #d8d4cf;
  --selection-background: #004daa;
  --selection-text: #e8e6e3;
}
html {
  background-color: #131516;
  color: #e8e6e3;
}
h1 {
  font-family: "Montserrat";
}

h2 {
  font-family: "Montserrat";
}

section {
  font-family: "Roboto";
}

.lazyload {
  display: flex;
  flex-direction: column;
  margin: auto;
  align-items: center;
}

.image-unloaded {
  opacity: 1;
}

.lazyload img {
  opacity: 1;
  width: 600px;
}
.image-loaded {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

header {
  background-color: #aaa;
  text-align: center;
  padding: 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin: 3px;
}

header .headBox {
  background-color: var(--primary-color);
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.coa {
  display: flex;
}

.santi {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.santi h1 {
  margin-top: 0;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-between;

  flex-direction: column;
}

.socials img {
  padding: 5px;
}

.navigation a {
  padding: 7px;
  color: var(--selection-text);
  font-size: x-large;
  transition: background-color 1s;
}

.navigation a:hover {
  background-color: var(--accent2-color);
}

header,
main,
footer {
  /* max-width: 767px; */
  margin: 0 auto;
}

nav {
  font-family: "Roboto";
  background-color: #36454f;
  padding: 10px;
  margin: 0 auto;
  max-width: fit-content;
}

main .mainContent {
  display: grid;
  overflow: hidden;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  font-size: 1rem;
  grid-template-rows: repeat(5, 200px);
  margin: 10px 50px;
}
main .mainSelection {
  margin: 3px;
  border: 1px solid #000000;
  padding: 1rem;
  background-color: #454a4d;
}
body h2 {
  margin: 0%;
  text-align: center;
}

#sec1 {
  background-image: url("../images/city_pics/skyline.png");
  background-size: cover;
  background-position: center;
  background-color: white;
}
#sec1 h1 {
  background-color: var(--accent1-color);
  padding: 10px;
  width: fit-content;
}

#sec2 p {
  padding: 5px;
  background-color: var(--accent2-color);
  text-align: center;
}

#sec3 {
  text-align: center;
}

#sec4 {
  overflow: auto;
}

.spotlight {
  text-align: center;
  display: grid;
  background-color: var(--secondary-color);
}

#sec6 h2 {
  background-color: var(--accent2-color);

  padding: 5px;
}

#sec6 p {
  text-align: center;
}

.weirdly-specific {
  text-align: center;
}

.required {
  color: red;
  font-size: x-small;
}

.ugh1 {
  margin: 3px;
  display: block;
}

.ugh2 {
  margin: 3px;
  display: block;
}

.unexpectancy {
  display: flex;
  flex-flow: column;
}

.menu {
  margin: 1rem auto;
  border: 1px solid;
  padding: 0.5rem;
  background-color: var(--secondary-color);
  text-align: center;
}

.menu button {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;
  font-weight: 700;
}

.list section {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  margin: 0;
  padding: 0.25rem;
}

.list section img {
  display: none;
}

.list section:nth-child(even) {
  background-color: var(--primary-color);
}

.buiscards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 0.5rem;
}

.buiscards img {
  max-width: 100px;
  height: auto;
}

.buiscards section {
  text-align: center;
  padding: 1rem;
  border: 1px solid #000;
  margin: 0.25rem;
}

#weather-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.un {
  display: flex;
  flex-direction: column;
}

.contact-container {
  display: grid;
  justify-items: center;
}

.un #contact-us-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.un #contact-us-form button {
  max-width: 100px;
}

@media only screen and (max-width: 35em) {
  .buiscards {
    justify-items: center;
  }
  .buiscards img {
    width: 60%;
  }
  section {
    width: 100%;
  }
}

@media only screen and (max-width: 60em) {
  .buiscards {
    justify-items: center;
  }
}

fieldset {
  display: block;
  width: max-content;
  max-width: 100px;
  background-color: #305298;
}

legend {
  text-align: center;
  background-color: #000000;
  padding: 5px;
}

.contact-grid {
  background-color: rgb(4, 13, 43);
  font-family: "Roboto", sans-serif;
  padding: 25px;
  font-size: 18px;
  margin: 10px 40px 25px;
  color: rgb(189, 183, 175);
}

.spotlight p {
  margin: 0%;
}

main picture {
  display: none;
  margin: 1rem;
}

footer p {
  font-family: "Courier New", Courier, monospace;
  display: flex;
  flex-direction: column;
  align-items: center;
}
